# TODO: useless now?

#============= mediaserver ==============
allow mediaserver camera_data_file:unix_dgram_socket sendto;
allow mediaserver camera_data_file:unix_stream_socket connectto;
allow mediaserver camera_device:chr_file { ioctl open read write };

allow mediaserver ion_device:chr_file { ioctl open read };

allow mediaserver mm-qcamerad:unix_stream_socket connectto;

allow mediaserver credmgrd:unix_stream_socket connectto;
allow mediaserver credmgrd_socket:sock_file write;

# communicate with camera
allow mediaserver camera_data_file:sock_file write;

allow mediaserver gpu_device:chr_file rw_file_perms;
allow mediaserver rootfs:lnk_file getattr;

allow mediaserver surfaceflinger:unix_stream_socket { read write };

allow mediaserver camera_prop:property_service set;
allow mediaserver init:unix_stream_socket connectto;
allow mediaserver property_socket:sock_file write;

allow mediaserver sysfs:file r_file_perms;
allow mediaserver camera_prop:file r_file_perms;

# connect to /data/misc/camera sockets
allow mediaserver mm-qcamerad:unix_stream_socket connectto;

