allow ta_qmi smem_log_device:chr_file rw_file_perms;

allow ta_qmi property_socket:sock_file write;
allow ta_qmi init:unix_stream_socket connectto;

allow ta_qmi ta_prop:file { getattr open read };
allow ta_qmi ta_prop:property_service set;

allow ta_qmi ta_prop:file { getattr open read };
allow ta_qmi ta_prop:property_service set;
